.flex-container{
    display: flex;
    background-color: aqua;
    flex-wrap: wrap;
   
   
}

.flex-container .flex-item{
    
    background-color: yellowgreen;
    border: 1px solid black;
    width: 200px;
    margin: 20px;
    padding: 25px;
}